/main.v.out
/main_out.vvp
/modules.v.out
/DB.txt
/input.txt
/DB_reserved.txt
/DB_guest.txt
/output.txt
/clear_slots_out.vvp
/clear_slots.v.out
/reserved_exit_out.vvp
/reserved_parking_exit.v.out
/guest_parking_exit.v.out
/guest_parking_entry.v.out
/guest_exit_out.vvp
/guest_entry_out.vvp
/py_GUI.py
/py_GUI2.py
/py_GUI_module.py
/__pycache__/